<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @opinion.content %>
</p>

<p>
  <b>Created at:</b>
  <%= @opinion.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @opinion.updated_at %>
</p>

<p>
  <b>Contractor:</b>
  <%= @opinion.contractor_id %>
</p>

<p>
  <b>Company:</b>
  <%= @opinion.company_id %>
</p>

<p>
  <b>Posting:</b>
  <%= @opinion.posting_id %>
</p>


<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
