<h1>Listing replies</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Contractor</th>
    <th>Company</th>
    <th>Opinion</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @replies.each do |reply| %>
  <tr>
    <td><%= reply.content %></td>
    <td><%= reply.contractor_id %></td>
    <td><%= reply.company_id %></td>
    <td><%= reply.opinion_id %></td>
    <td><%= reply.created_at %></td>
    <td><%= reply.updated_at %></td>
    <td><%= link_to 'Show', reply %></td>
    <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
    <td><%= link_to 'Destroy', reply, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reply', new_reply_path %>
