<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @reply.content %>
</p>

<p>
  <b>Contractor:</b>
  <%= @reply.contractor_id %>
</p>

<p>
  <b>Company:</b>
  <%= @reply.company_id %>
</p>

<p>
  <b>Opinion:</b>
  <%= @reply.opinion_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @reply.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @reply.updated_at %>
</p>


<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
