<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @posting.title %>
</p>

<p>
  <b>Description:</b>
  <%= @posting.description %>
</p>

<p>
  <b>Requirements:</b>
  <%= @posting.requirements %>
</p>

<p>
  <b>City:</b>
  <%= @posting.city %>
</p>

<p>
  <b>State:</b>
  <%= @posting.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @posting.zipcode %>
</p>

<p>
  <b>Salary:</b>
  <%= @posting.salary %>
</p>

<p>
  <b>Duration:</b>
  <%= @posting.duration %>
</p>


<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', current_company %>
