<div class="relative">
	
		<div class="hero-unit" >
			<div class="span6 offset3">
				<h2>Search Page</h2>
			</div>
<br/>
<br/>
<div class="span6 offset3">
<%= form_tag companies_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag("keywards", options_for_select([['Name', '1'],['Geographic Location', '2'],['Profession','3'],['Contract Length','4'], ])) %>
     <%= submit_tag "Search", :name => nil %>
   </p>
   <% end %>

<%= provide(:title, 'All users') %>
<h2>All Contractors</h2>

<ul class="companies">
  <% @contractors.each do |c| %>
    <li>
      <%= link_to c.lastName, c %>
    </li>
  <% end %>
</ul>

</div>
</div>

</div>
