<div class="relative">
<h1>Company Profile</h1>
<h2>This is page for company Profile</h2>

		<img src='#' alt="Your picture> 	
	<div class="span6 offset3">
		


		<p>
		<b>Name:</b>
                <%=@Company.name %>
		</p>
                <p>
		<b>Induatry:</b>
                <%=@Company.industry %>
		</p>
                <p>
		<b>Contracts available now:</b>
                <%="none" %>
		</p>
                <p>
		<b>Contact Information:</b>
                <%="none" %>
		</p>
                <% if signed_in? %>
		
		<p>
		<b>Supervisor:</b>
                <%="none" %>
		</p>
		        
		<% end%>


	</div>
	<% if signed_in? %>
		<%= link_to "Search", csearch_path, class: "btn btn-large btn-primary" %>
	<% end %>
	<% if csigned_in? %>
		<%= link_to "Back", search_path, class: "btn" %>
	<% end %>

</div>


