<div class = "hero-unit" >
<br />

<h2><%= @company.name%> Profile</h2>
<h5><a href = @company.link><%= @company.link %></a></h5>
<h5>Industry:<%=@company.industry %></h5>
<%=link_to "Edit your profile", edit_company_path %>
</div>
 <% if signed_in? %>
	 <%=link_to "Add a new job posting", new_posting_path, class:"btn" %>
 <% end %>
<%= provide(:title, 'All available job posts') %>
<br />
<h3> Current Postings</h3>
<ul class="companies">
<% @posting.each do |p| %>
	<li> <%=link_to p.title, p%>
<% end %>
</ul>

