<div class = "hero-unit" >
<br />
<h2><%= @Company.name%> Profile</h2>
<h5><a href = @Company.link><%= @Company.link %></a></h5>
<h5>Industry:<%=@Company.industry %></h5>
<%=link_to "Edit your profile", edit_company_path %>
</div>

<%=link_to "Add a new job posting", new_posting_path %>
<%= provide(:title, 'All available job posts') %>
<u><h3>All Job Posts</h3></u>
<ul class="companies">
  <% @posting.each do |p| %>
  <li><%= link_to p.title, p %></li>
<%end%>
</ul>


