<div class="relative">	
		<div class="hero-unit" >
			<div class="span6 offset3">
				<h2>Search Page</h2>
			</div>
<br/>
<br/>
<div class="span6 offset3">
<%= form_tag contractors_path, :method => 'get' do %>
     <%= text_field_tag :search, params[:search] %>
     <%= select_tag("keywards", options_for_select([['Name', '1'],['Industy', '2']])) %>
     <%= submit_tag "Search", :name => nil %>
<% end %>

<%= provide(:title, 'All companies') %>
<h2>All companies</h2>


<ul class="companies">
  <%= @companies.each do |c| %>
    <li>
      <%= link_to c.name, c %>
    </li>
  <% end %>
</ul>
</div>

</div>
<br />
</div>
