<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/stylesheets' %> 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
	<body>
		<header class="navbar navbar-fixed-top">		
	  <div class="navbar-inner">
		  <%flash.each do |key, value| %>
			  <div class="alert alert-<%= key %>"><%= value %></div>
		  <% end %>
	           <div class="container">
	          	<nav>
	          		<b style = "font-size: 20px;">
	          			<%= link_to "ContractON", root_path %>
	          		</b>
	     


	            <ul class="nav pull-right">
	                  <li><%= link_to "Home",    root_path %></li>
		    <% if signed_in? %>
			  <li><%= link_to "Search", companies_search_path %></li>
	
			                <li><%= link_to "Profile", current_company %></li>
			                <li class="divider"></li>
			                 <li><%=link_to "Sign out", companies_signout_path, method: "delete" %></li>
					<% end %>

                     <% if csigned_in? %>
		         <li><%= link_to "Companies", '#' %></li>
			  <li><%= link_to "Search", contractors_search_path %></li>
        			                  <li><%= link_to "Profile",:controller => "contractor_profiles", :action => "show", :id => @contractor %></li>
			                  <li class="divider"></li>
			                  <li><%=link_to "Sign out", contractors_signout_path, method: "delete" %></li>
		      	<% else %>
		      <li><%= link_to "Sign in", '#' %> </li>
	      	<% end %>
	
	            </ul>
		    </nav>
	   
	        </div>
	      </div>
	  </header>
      <div class="container">
		<%= yield %>
      </div>
	</body>
</html>
